@page "/about"

<h1> Não somos só um site de leilões!</h1>
<p>
    Explore as harmonias inéditas no Music4Every1, a sua orquestra digital para instrumentos em busca de um músico.
    <br> Na nossa galeria de leilões, cada instrumento carrega uma história, cada venda é um prelúdio para futuras melodias.
    Navegue por uma coleção eclética que ecoa desde o timbre clássico das cordas ancestrais até o zumbido eletrizante de sintetizadores modernos.
    <br> No Music4Every1, iniciantes, maestros e colecionadores tocam a mesma partitura em busca do acordo perfeito entre valor e virtuosidade.
    <br>Venha encontrar o instrumento que fará seu talento ressoar nas salas do concerto da vida.
</p>


@code {

}
