@page "/about"


        <div class="text-box">
            <h1>Sobre nós</h1>
            <p>
                Bem-vindo ao Music4Every1, o destino supremo para amantes de música e entusiastas instrumentais.
                A nossa plataforma de leilões é dedicada exclusivamente à paixão pela música, disponibilizando um palco virtual onde instrumentos musicais encontram uma nova vida.
                <br /> Conectamos vendedores e compradores num ambiente vibrante de leilões, onde cada licitação ressoa com a emoção de possuir uma peça de história musical, um instrumento amado ou a última peça para a sua coleção.
                Com uma sinfonia de cordas, sopros, percussão e teclas, o Music4Every1 oferece uma gama diversificada de instrumentos, desde peças vintage e raridades até as últimas novidades da indústria.
                <br /> A nossa plataforma é mais do que um simples site de leilões; é uma comunidade onde músicos de todos os níveis e interesses podem juntar-se para comprar e vender instrumentos com confiança e segurança.
                Oferecemos uma plataforma de leilões transparente e justo, garantindo que cada transação seja tão afinada quanto as notas de uma melodia bem executada.
                <br />Seja um músico a procura do seu próximo instrumento, um colecionador em busca de um instrumento única, ou alguém que deseja encontrar um novo lar para seu instrumento, o Music4Every1 é o lugar onde seus leilões alcançam a harmonia perfeita.
                <br />Junte-se a nós e transforme o ato de comprar e vender instrumentos musicais numa experiência que é, em si, uma forma de arte.
            </p>
       

    <h1> Não somos só um site de leilões!</h1>
    <p>
        Explore as harmonias inéditas no Music4Every1, a sua orquestra digital para instrumentos em busca de um músico.
        <br> Na nossa galeria de leilões, cada instrumento carrega uma história, cada venda é um prelúdio para futuras melodias.
        Navegue por uma coleção eclética que ecoa desde o timbre clássico das cordas ancestrais até o zumbido eletrizante de sintetizadores modernos.
        <br> No Music4Every1, iniciantes, maestros e colecionadores tocam a mesma partitura em busca do acordo perfeito entre valor e virtuosidade.
        <br>Venha encontrar o instrumento que fará seu talento ressoar nas salas do concerto da vida.
    </p>
   
    </div>
