@page "/auction"
@using System.Net.Http.Headers
@inject IAuctionsService AuctionService
@inject NavigationManager NavigationManager

<EditForm Model="auction" OnSubmit="CreateAuction">
    <div style="color: #fff;">
        <div class="form-group">
            <label for="titulo">Titulo</label>
            <InputText id="titulo" class="form-control" @bind-Value="auction.Titulo" />
        </div>
        <div class="form-group">
            <label for="descricao">Descrição</label>
            <textarea id="descricao" class="form-control" style="width: 100%; height: 120px;" @bind="auction.Descricao"></textarea>
        </div>
        <div class="form-group">
            <label for="dataInicio">Data de início</label>
            <InputDate id="dataInicio" class="form-control" @bind-Value="date" />
            <InputText type="time" id="dataInicio" @bind-Value="time" />
        </div>
        <div class="form-group">
            <label for="duracao">Duração (Em horas)</label>
            <InputText id="duracao" class="form-control" @bind-Value="duracao" />
        </div>
        <div class="form-group">
            <label for="precoInicial">Preço inicial</label>
            <InputNumber id="precoInicial" class="form-control" @bind-Value="auction.PrecoInicial" />
        </div>
        <div class="form-group">
            <label for="imagens">Imagens</label>
            <InputFile OnChange="@OnInputFileChange" id="imagens" class="form-control" multiple />
            @if(fileNames.Count > 0)
            {
                <ul>
                    @foreach(var fileName in fileNames)
                    {
                        <li>Ficheiro: @fileName</li>
                    }
                </ul>
            }
        </div>
        <!-- Add item section -->
        <div style="color: #fff;">
            <h4>Add Item</h4>
            <div class="form-group">
                <label for="newItemName">Item Name</label>
                <InputText id="newItemName" class="form-control" @bind-Value="newItemName" />
            </div>
            <div class="form-group">
                <label for="newItemCategory">Item Category</label>
                <select class="custom-select" @bind="@newItemCategory">
                    <option value="strings">Cordas</option>
                    <option value="percussion">Percussão</option>
                    <option value="electric">Elétricos</option>
                    <option value="wind">Sopros</option>
                </select>
            </div>
            <button type="button" class="btn btn-success" @onclick="AddNewItem">Add Item</button>
            <br />

            <!-- Display added items -->
            @if (auction.Itens != null && auction.Itens.Any())
            {
                <h4>Added Itens</h4>
                <ul>
                    @foreach (var item in auction.Itens)
                    {
                        <li>@item.Nome</li>
                    }
                </ul>
            }
        </div>

    </div>
    <br/>
    <button type="submit" class="btn btn-primary">Criar Leilão</button>
    
</EditForm>


@code {
    string duracao = "";
    string newItemName = "";
    string newItemCategory = "";
    LeilaoCreateDTO auction = new();
    private string time = "";
    private List<string> fileNames = new();
    MultipartFormDataContent content = new();
    Item newItem = new();

    DateTime date = DateTime.Now;

    async Task CreateAuction()
    {
        auction.DataInicio = CombineDateAndTime(date, time);
        auction.Estado = (DateTime.Now > auction.DataInicio) ? "STARTED" : "SCHEDULED";
        auction.Duracao = int.Parse(duracao) * 60;
        int id = await AuctionService.CreateAuction(auction);
        await AuctionService.UploadImages(content, id);
        content.Dispose();
        NavigationManager.NavigateTo("/");
    }

    private void OnInputFileChange(InputFileChangeEventArgs e)
    { 
 
        foreach(var file in e.GetMultipleFiles())
        {
            var fileContent = new StreamContent(file.OpenReadStream());
            fileContent.Headers.ContentType = new MediaTypeHeaderValue(file.ContentType);

            fileNames.Add(file.Name);

            content.Add(
                content: fileContent,
                name: "\"files\"",
                fileName: file.Name);
        }
        
    }

    void AddNewItem()
    {
        if (!string.IsNullOrEmpty(newItemName) && !string.IsNullOrEmpty(newItemCategory))
        {
            if (auction.Itens == null)
            {
                auction.Itens = new List<ItemDTO>();
            }

            auction.Itens.Add(new ItemDTO { Nome = newItemName, Categoria = newItemCategory });

            // Clear input fields
            newItemName = "";
            newItemCategory = "";
        }
    }

    static DateTime CombineDateAndTime(DateTime date, string timeString)
    {
        // Parse the time string
        if (TimeSpan.TryParse(timeString, out TimeSpan timeSpan))
        {
            // Combine date and time
            return date.Date + timeSpan;
        }
        else
        {
            // Handle parsing error (invalid time string)
            throw new ArgumentException("Invalid time string format", nameof(timeString));
        }
    }
}
