@page "/"

<PageTitle>Music4Every1 - Início</PageTitle>


    <div class="text-box">
        <h1> O MAIOR SITE DE LEILÕES ONLINE</h1>
        <p> Seja bem vindo ao nosso site de leilões. Aqui poderá vender os seus instrumentos que já não usa e comprar outros a preços mais acessíveis</p>
    </div>

